---
layout: default
title: Eternal-September
cover: 'assets/images/cover-home.jpg'
class: 'home-template'
navigation: True
logo: 'assets/images/ghost.png'
current: home
---
<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header  -->
<header class="main-header {% if page.cover %}"
        style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">{{ site.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<div align="center" markdown="1">
<a href="/contact/index.html"><img src="/assets/images/gmail48.png" alt="Contact me"></a>
&nbsp; &nbsp; &nbsp;
<a href="/pages/index.html"><img src="/assets/images/pages48.png" alt="Pages"></a>
&nbsp; &nbsp; &nbsp;
<a href="/resume/index.html"><img src="/assets/images/resume48.png" alt="Resume"></a>
&nbsp; &nbsp; &nbsp;
<a href="https://www.linkedin.com/in/michielvanwessem/"><img src="/assets/images/linkedin48.png" alt="linkedin"></a>
&nbsp; &nbsp; &nbsp;
<a href="https://github.com/michielvanwessem"><img src="/assets/images/github48.png" alt="github"></a>
&nbsp; &nbsp; &nbsp;
<a href="https://keybase.io/mvanwessem"><img src="/assets/images/keybase48.png" alt="keybase"></a>
&nbsp; &nbsp; &nbsp;
<a href="https://twitter.com/michielvwessem"><img src="/assets/images/twitter48.png" alt="twitter"></a>
&nbsp; &nbsp; &nbsp;
<a href="https://instagram.com/michiel_van_wessem"><img src="/assets/images/instagram48.png" alt="instagram"></a>
&nbsp; &nbsp; &nbsp;
<a href="/feed.xml"><img src="/assets/images/rssfeed48.png" alt="rss"></a>
<br>
<span style="font-size:0.8em"><em>please click on <img src="/assets/images/menu_image.png" alt="menu" style="width:75px;height:20px;vertical-align:text-bottom"></img> (top right of the page) to access different <a href="/pages">pages</a> of the site.</em></span>
<hr />
</div>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    <!-- The tag below includes the post loop - partials/loop.hbs -->
    {% include loop.html %}

</main>
