<div align="center" markdown="1">
<a href="/"><img src="/assets/images/home32.png" alt="home"></a>
&nbsp; &nbsp; &nbsp;
<a href="/pages/index.html"><img src="/assets/images/pages32.png" alt="Pages"></a>
&nbsp; &nbsp; &nbsp;
<a href="/contact/index.html"><img src="/assets/images/gmail32.png" alt="Contact me"></a>
&nbsp; &nbsp; &nbsp;
<a href="https://keybase.io/mvanwessem"><img src="/assets/images/keybase32.png" alt="keybase"></a>
&nbsp; &nbsp; &nbsp;
<a href="https://github.com/michielvanwessem"><img src="/assets/images/github32.png" alt="github"></a>
&nbsp; &nbsp; &nbsp;
<a href="https://www.linkedin.com/in/michielvanwessem/"><img src="/assets/images/linkedin32.png" alt="linkedin"></a>
&nbsp; &nbsp; &nbsp;
<a href="https://twitter.com/michielvwessem"><img src="/assets/images/twitter32.png" alt="twitter"></a>
&nbsp; &nbsp; &nbsp;
<a href="https://instagram.com/michiel_van_wessem"><img src="/assets/images/instagram32.png" alt="instagram"></a>
&nbsp; &nbsp; &nbsp;
<a href="/feed.xml"><img src="/assets/images/rssfeed32.png" alt="rss"></a>
<br>
<span style="font-size:0.8em"><em>please click on <img src="/assets/images/menu_image.png" alt="menu" style="width:75px;height:20px;vertical-align:text-bottom"></img> (top right of the page) to access different <a href="/pages">pages</a> of the site.</em></span>
</div>

